* {
  margin: 0;
}

body {
  font-family: Garamond, sans-serif;
  background-color: #ffffff;
  font-style: normal;
}


div {
  background-color: #ffffff;
  width: 100%;
  border-radius: 0px;
  border: 0px solid #000000;
  margin: 0 auto;
  padding: 1px 1px;
  font-family: font-family: "Karla", Arial, san-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
}

#sidebar {
  min-height: 20px;
  font-family: "Karla", Arial, san-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  text-align: left;
  border-radius: 0;
  border: none;
  padding: 60px;
  position: fixed;
}

#blank {
  width: 20%;
}

.column {
  vertical-align: top;
  margin: 0;
  display: inline-block;
}

.logo {
  width: 20;
  min-height: 20px;
  font-size: 20px;
  /* font-style: bold; */
  font-weight: 400;
  color: #aaaaaa;
  text-align: left;
  border-radius: 0;
  border: none;
}

.section {
  width: 20;
  min-height: 20px;
  font-size: 15px;
  /* font-style: bold; */
  font-weight: 400;
  color: #000000;
  text-align: left;
  border-radius: 0;
  border: none;
}

#currentsection {
  color: grey;
}

#content {
  padding-top: 3%;
  width: 75%;
  margin-left: 3%;

}

h4 {
  font-family: "EB Garamond", serif;
  font-size: 40px;
  font-weight: 200;
  font-style: normal;
}

h5 {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  color: #7f8c8d;
}

h6 {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  padding-right: 35%;
}

.text {
  font-family: "Karla", Arial, san-serif;
  padding-right: 35%;
  font-weight: 100;
}

.caption {
  font-style: italic;
}

.image {
  max-width: 680;
}

.inline {
  display: inline-block;
	max-width: 98%;
  height: 310px;
  width: auto;
}

.inline2 {
  display: inline-block;
	max-width: 98%;
  height: 345px;
  width: auto;
}

.inline3 {
  display: inline-block;
	max-width: 98%;
  height: 283px;
  width: auto;
}
